<div class="cart-breadcrumb">
	<svg class="icon icon-arrow-right">
		<use xlink:href="#icon-arrow-right"></use>
	</svg>
	<div class="cart-step{% if is_passive %} cart-breadcrumb-is-passive{% endif %}">{{title}}
	</div>
</div>