<label class="product-quantity-input">
    <button aria-label="decrease quantity" type="button" class="button product-quantity-input-decrease">
        <svg class="icon icon-minus">
            <use xlink:href="#icon-minus"></use>
        </svg>
    </button>
    <input type="number" class="input product-quantity-input-number" name="product-quantity" min="1" max="5" value="1" required>
    <button aria-label="increase quantity" type="button" class="button product-quantity-input-increase">
        <svg class="icon icon-plus">
            <use xlink:href="#icon-plus"></use>
        </svg>
    </button>
</label>