<div class="shipping-detail-item">
	<div class="shipping-detail-item-title">{{title}}
	</div>
	<div class="shipping-detail-item-box">
		<div class="shipping-detail-item-box-content">{{content}}
		</div>
		{% include 'button/secondary' with title: 'change' color: 'green' %}
	</div>
</div>