<label class="shipping-method">
	{% include 'input-custom-selector' %}
	<div class="shipping-method-detail">
		<div class="shipping-method-detail-price">{{price}}
		</div>
		<div class="shipping-method-detail-type">{{type}}
		</div>
	</div>
</label>