.order-summary-item-wrapper {
	display: flex;
	justify-content: space-between;
	font-size: .9em;

	@include mq() {
		font-size: 1em;
	}


	&+& {
		margin-top: 20px;

		@include mq() {
			margin-top: 28px;
		}
	}
}