<label class="product-color-selector-item">
    <input type="radio" name="product-color" class="product-color-selector-item-input" value="{{color}}" {{checked}}>
    <span class="product-color-selector-item-viewer" style="color: {{color}};"></span>
</label>