<div class="product-image">
	<div class="product-image-number">
		<span class="product-image-number-bold">01</span>
		<span class="product-image-number-light">/ 03</span>
	</div>
	<div class="product-image-order">
		<div class="product-image-order-previous">
			<svg class="icon icon-arrow-left">
				<use xlink:href="#icon-arrow-left"></use>
			</svg>
		</div>
		<div class="product-image-order-next">
			<svg class="icon icon-arrow-right">
				<use xlink:href="#icon-arrow-right"></use>
			</svg>
		</div>
	</div>
	<div class="product-image-photo">
		<div class="swiper-container product-swiper">
			<div class="swiper-wrapper">
				{% for i in (1..3) %}
				<figure class="swiper-slide">
					<picture>
						<img src="img/product-big-{{i}}.png" alt="Product Photo {{i}}">
					</picture>
				</figure>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="product-image-nav">
		<div class="swiper-container product-thumb-swiper">
			<div class="swiper-wrapper">
				{% for i in (1..3) %}
				<figure class="product-image-nav-item swiper-slide">
					<picture>
						<img src="img/product-{{i}}.png" alt="Product Thumb Photo {{i}}">
					</picture>
				</figure>
				{% endfor %}
			</div>
		</div>
	</div>
</div>